.controls-container {
    height: 142px;
    width: 360px;
    position: absolute;
    bottom: 0;
    background-color: #f3f4f8;
    border-radius: 0 0 30px 30px;

    .controls {
        height: 135px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .music {
            display: flex;
            align-items: center;

            .btn {
                margin: 0 9px;
            }

            .btn-lg {
                margin: 0;
                border: 7px solid white;
            }
        }
    }
}

