body {
    font-family: 'Rambla', sans-serif;
}

.App {
    min-height: 100vh;
    width: 100vw;
    background: $primary url('./img/Background.png') no-repeat top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
