.list {
    width: 360px;
    height: 480px;
    background-color: #f3f4f8;
    border-radius: 30px;
    overflow: hidden;
}

.listNav {

    .btn {
        position: relative;
        z-index: 2;
        left: 21px;
        top: 20px;

        img {
            margin-top: 2px;
        }
    }

    .listTitle {
        position: relative;
        z-index: 1;
        top: -7px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: $primary;
    }
}
