.songsList {
    height: 390px;
    width: 280px;
    padding-right: 25px;
    padding-left: 10px;
    margin: 10px auto;
    overflow-y: auto;
    overflow-x: hidden;

    .listElement {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
        border-bottom: 1px solid #d3d5de;
        * {
            text-decoration: none;
        }

        &:last-child {
            border-bottom: none;
            margin-bottom: 30px;
        }

        img {
            margin: 6px;
        }

        .secondaryText {
            color: $secondary-text;
            font-size: 12px;
        }

        .title {
            color: $primary-dark;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

::-webkit-scrollbar {
    width:  7px;
}

::-webkit-scrollbar-thumb {
    background: #dfdfe7;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.songsContainer {
    height: calc(450px - 54px);
}

.shadow {
    position: relative;
    bottom: 60px;
    height: 50px;
    width: 360px;

    background: -moz-linear-gradient(bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
